.ownnavarow{
    height: 60px;
}
.ownimg{
    width: 110px;
    height: 50px;
    border-radius:1px;
    
}
.ownlist{
   display: flex;
   justify-content: space-around;
    list-style-type: none;
}
@media (max-width: 600px) {
    .ownlist{
        display: inline;
        padding: 5px;
       line-height: 35px; 
       font-size: 19px;
       font-family:Georgia, 'Times New Roman', Times, serif;
      color: orange;   

    } 
      
  }